@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

html {
  font-size: 100%;
  box-sizing: border-box;

}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  color: #3B3E54;
  min-width: 600px;
  max-width: 2000px
}

h5 {
  margin: 0px;
}

.item {
  display: flex;
  background-color: #3B3E54;
  height: auto;
  font-size: 20px;
  padding-top: 12px;
  text-align: center;
  color: #CEC5DB;

  button {

    background-color: #040611;
    color: rgb(255, 255, 255);
    width: 90px;
    padding: 10px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .itens {

    flex-direction: column;
  }
}

.box {
  background-color: #3B3E54;
}

#client {
  display: none;

  position: relative;

  button {
    background-color: #CEC5DB;
    color: rgb(0, 0, 0);
    width: 90px;
    margin-top: 8px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }

  button:hover {
    background-color: #3B3E54;
  }

  button:active {
    border-left: 2px solid rgba(255, 255, 255, 0.645);
    border-top: 2px solid white;

  }

  h4 {
    margin: 0;
  }

  .register-client {
    height: 80vh;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 12px;
    overflow: auto;

    label {
      font-size: 12px;
    }

    input {
      background-color: #CEC5DB;
      padding: 5px 1px;
      margin: 2px 0;
      border: 2px solid rgb(204, 204, 204);
      border-radius: 4px;
      box-sizing: border-box;
      outline: none;
    }
  }


}

#products {
  display: none;
  position: relative;

  button {
    background-color: #CEC5DB;
    color: rgb(0, 0, 0);
    width: 90px;
    margin-top: 8px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }

  button:hover {
    background-color: #3B3E54;
  }

  button:active {
    border-left: 2px solid rgba(255, 255, 255, 0.645);
    border-top: 2px solid white;

  }

  h4 {
    margin: 0;
  }

  .register-products {
    margin-top: 12px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;


    label {
      font-size: 12px;
    }

    input {
      background-color: #CEC5DB;
      padding: 5px 1px;
      margin: 2px 0;
      border: 2px solid rgb(204, 204, 204);
      border-radius: 4px;
      box-sizing: border-box;
      outline: none;
    }
  }

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.table{
  overflow: auto;
  height: 80vh;

}

table {
  
  background-color: #fff;
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #555;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10),
    0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05),
    0px 30px 20px rgba(0, 0, 0, 0.05);

  th,
  td {
    background-color: #CEC5DB;
    color: rgb(0, 0, 0);
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
  }

  th {
    background: #3B3E54;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;

    &.last {
      border-right: none;
    }
  }
}

#footer {
  margin-top: 0;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;

  p {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */